@model ProductCategory

<h2>@Model.Name</h2>
<table class="table table-secondary table-striped">
    <thead>
        <tr>
            <th class="w-65">Product</th>
            <th class ="w-25">Prijs</th>
            <th class="w-10"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.AssignedProducts)
        {
            <partial name="ProductRowPartial" model="product" />
        }
    </tbody>
</table>